<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
    <div class=" col-lg-12 col-md-12 col-sm-12 form-div form-div-sm form-div-md form-div-lg">

      <form action="" method="">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="">First name</label>
            <input name="prenom" type="search" class="form-control" id="" placeholder="First name" value="" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="">Last name</label>
            <input name="nom" type="saarch" class="form-control" id="" placeholder="Last name"
                   value="" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="">Username</label>
            <div class="input-group">
              <input name="username" type="search" class="form-control" id="" placeholder="username"
                     aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <!--          dtn mail mdp-->
          <div class="col-md-4 mb-3">
            <label for="">Minimum age </label>
            <input name="age_min" type="number" class="form-control" id="" placeholder="" required>
          </div>

          <div class="col-md-4 mb-3">
            <label for="">Maximum age </label>
            <input name="age_min" type="number" class="form-control" id="" placeholder="" required>
          </div>

          <div class="col-md-4 mb-3">
            <label for="">Post</label>
            <select name="post" class="form-control">
              <option>Default select</option>
            </select>
          </div>

        </div>

        <div class="form-row">
          <!--          role post date embauche-->
          <div class="col-md-4 mb-3">
            <label for="">Role</label>
            <select name="role" class="form-control">
              <option>Default select</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="">Salary</label>
            <input name="salaire" type="number" class="form-control " id="" placeholder="" required>

          </div>
        </div>

        <button class="btn btn-primary submit-button" type="submit">Filter</button>
      </form>
    </div>


  </div>


</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
    <!--    <div class="col-lg-2 col-md-1 col-sm-0 filler"></div>-->

    <div class=" col-lg-12 col-md-12 col-sm-12 list-div list-div-sm list-div-md list-div-lg">
      <h1 class="titre">STAFF LIST</h1>

      <table class="table table-hover">
        <thead class="header">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Age</th>
          <th scope="col">Post</th>
          <th scope="col">Hiring Date</th>
          <th scope="col">Salary</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>28</td>
          <td>Photographer</td>
          <td>2023-06-09</td>
          <td>$5000</td>
          <td>
            <button class="icon-btn ripple " id=""  >
              <i class="mdi mdi-table-edit icon-edit "></i>

            </button>
          </td>
          <td>
            <button class="icon-btn ripple " id=""  >
              <i class="mdi mdi-delete icon-delete "></i>

            </button>
          </td>
        </tr>
        <!-- Other table rows -->
        </tbody>
      </table>
    </div>

    <!--    <div class="col-lg-2 col-md-1 col-sm-0filler"></div>-->
  </div>
</div>
