<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Emp Table</h4>
        <div id="contentToConvert"  class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th> User </th>
              <th> First name </th>
              <th> Progress </th>
              <th> Amount </th>
              <th> Deadline </th>
            </tr>
            </thead>
            <tbody *ngFor="let user of userList">
            <tr>
              <td class="py-1">
                <img ngSrc="assets/images/faces-clipart/pic-1.png" [width]="30" [height]="30" alt="image" />
              </td>
              <td> {{user.name}} </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td> $ {{user.number}} </td>
              <td> {{user.address.ip}} </td>
            </tr>
            </tbody>
          </table>
        </div>
        <br><br>
        <button class="btn btn-primary" type="button" (click)="generatePDF()">to pdf</button>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <label>File upload</label>
  <input #fileInput type="file" name="img[]" class="file-upload-default" style="display: none;" (change)="onFileSelected($event, 'fileInput')">
  <div class="input-group col-xs-12">
    <span class="input-group-append">
      <button class="file-upload-browse btn btn-primary" type="button" (click)="browseFiles('fileInput')">Browse</button>
    </span>
    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" [value]="fileName">
    <span class="input-group-append">
      <button class="file-upload-browse btn btn-outline-primary btn-fw" type="button" (click)="upload()">Upload</button>
    </span>
  </div>
</div>

<div class="form-group">
  <label>Import csv</label>
  <input #csvInput type="file" name="img[]" class="file-upload-default" style="display: none;" (change)="onFileSelected($event, 'csvInput')">
  <div class="input-group col-xs-12">
    <span class="input-group-append">
      <button class="file-upload-browse btn btn-primary" type="button" (click)="browseFiles('csvInput')">Browse</button>
    </span>
    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" [value]="csvName">
    <span class="input-group-append">
      <button class="file-upload-browse btn btn-outline-primary btn-fw" type="button" (click)="uploadCsv()">Upload</button>
    </span>
  </div>
</div>

<div class="row">
  <div class="lg-col-12">
      <form class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="tableNameInout" [(ngModel)]="tableNameInout" placeholder="Table name">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend" (click)="browseFiles('tableInput')">
            <div class="input-group-text"><i class="mdi mdi-file"></i></div>
          </div>
          <input #tableInput type="file" name="csvFile" class="file-upload-default" style="display: none;" accept=".csv" (change)="onFileSelected($event, 'tableInput')">
          <input type="text" class="form-control file-upload-info" id="inlineFormInputGroupUsername2" placeholder="CSV Import" [value]="tableName">
        </div>
        <button type="submit" class="btn btn-primary mb-2" (click)="uploadCsvTable()">Submit</button>
      </form>
  </div>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>End</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>



