<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
    <div class="col-lg-2 col-md-1 col-sm-0 filler"></div>


    <div class=" col-lg-8 col-md-10 col-sm-12 form-div form-div-sm form-div-md form-div-lg">
      <h1 class="titre">INSERT CLIENT</h1>

      <form action="" method="">
      <!-- nom prenom dtn        -->
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="">First name</label>
            <input name="prenom" type="text" class="form-control" id="" placeholder="First name" value="" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="">Last name</label>
            <input name="nom" type="text" class="form-control" id="" placeholder="Last name"
                   value="" required>
          </div>
          <div class="col-md-4 mb-3">
          <label for="">Date of birth</label>
            <input name="dtn" type="date" class="form-control" id="" placeholder=""
                   value="" required>
        </div>

        </div>
        <div class="form-row">
          <!--  mail num-->
          <div class="col-md-6 mb-6">
            <label for="">E-mail</label>
            <input name="mail" type="email" class="form-control " id="" placeholder="e-mail" required>
          </div>

          <div class="col-md-6 mb-6">
            <label for="">Phone number</label>
            <input name="numero" type="tel" class="form-control " id="" placeholder="" value="+261" required>
          </div>

        </div>




        <button class="btn btn-primary submit-button" type="submit">Submit form</button>
      </form>
    </div>


    <div class="col-lg-2 col-md-1 col-sm-0 filler"></div>


  </div>


</div>










